.container-fluid {
    padding: 0 !important;
}

.top-header {
    z-index: 9999;
    position: sticky;
    height: 120px;
    padding-left: 37px;
    background-color: #FFFFFF;
}

.top-logo {
    width: 30%;
}

.top-nav {
    width: 70%;
    padding-right: 37px;
}

.logo-text {
    margin-left: 18px;
    display: inline-block;
    color: #707070;
}

.logo-text-first-line {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.logo-text-second-line {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.nav-container {
    width: 502px;
    height: 50px;
}

.nav-item {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    height: 50px;
    display: inline-block;
    cursor: pointer;
}

.nav-item a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #707070;
}

.nav-item:first-of-type {
    background-color: #F16822;
    color: #FFFFFF;
}

.nav-item:first-of-type a{
    color: #FFFFFF;
}

.toggler {
    display: none;
    padding: 1em;
    align-items: center;
    transform: rotate(90deg);
    cursor: pointer;
}

@media only screen and (max-width: 540px) {
    .toggler {
        display: flex;
    }
    .nav-container {
        display: none !important;
    }
}

.hero {
    margin-top: -120px;
    height: 1080px;
    background-image: url('../imgs/background.png');
}

.hero-main {
    height: 1000px;
}

.arrow-prev, .arrow-next {
    width: 15%;
}

.arrow-next {
    transform: rotate(180deg);
}

.middle-area {
    width: 100%;
    text-align: center;
}

.hero-info {
    width: 70%;
}

.hero-big-text {
    font-family: 'Raleway', sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #F16822;
}

.hero-text-info {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.hero-bottom {
    display: block;
    text-align: center;
}

.features {
    padding: 100px 100px 0px 100px;
    width: 100%;
    height: 919px;
}

.features-title {
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.features-text {
    width: 70%;
    text-align: center;
    padding-top: 10px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.features-items {
    width: 90%;
    padding-top: 30px;
}

.feature-item-icon {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #EEEEEE;
}

.feature-item-title {
    padding: 10px;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.feature-item-text {
    padding: 20px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
}

.big-feature {
    width: 100%;
    height: 913px;
    background-image: url('../imgs/MaskGroup4.png');
}

.big-feature-title {
    padding: 100px 100px 20px 100px;
    color: #F16822;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.big-feature-text {
    width: 70%;
    color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}

.big-features-items {
    /* position: absolute;
    top: 0;
    left: 0; */
}

.big-feature-image-one {
    margin-top: -180px;
    width: 100%;
}

.big-feature-image-two {
    /* position: absolute;
    top: -159px;
    left: px; */
    /* display: none; */
}

.big-feature-image-tree {
    /* position: absolute;
    top: 159px;
    left: 190px; */
}

.latest-post-items {
    width: 90%;
}
.latest-post-item {
    width: 30%;
    height: 120%;
    text-align: center;
    padding: 20px;
    margin: 20px;
    /* border: 1px solid #707070; */
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px #707070;
}

.latest-post-title {
    padding-top: 100px;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.latest-post-text {
    padding-top: 70px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-align: center;
}

.latest-post-item-title {
    color: #F16822;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 600;
}

.latest-post-item-text {
    text-align: center;
    padding-top: 30px;
}

.latest-post-item img {
    width: 100%;
}

.funfacts {
    position: relative;
    z-index: 1;
}

.funfacts-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:  url('../imgs/lauren-mancke-aOC7TSLb1o8-unsplash.jpg') center center;
    opacity: .1;
    width: 100%;
    height: 100%;
}

.funfacts-title {
    padding: 100px 100px 20px 100px;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.funfacts-items {
    width: 100%;
    padding: 50px 50px 100px 50px;
    text-align: center;
}

.funfacts-item-info {
    color: #F16822;
    font-family: 'Montserrat', sans-serif;
    font-size: 64px;
    font-weight: bold;
}

.funfacts-item-title {
    text-transform: uppercase;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.testimonials {
    position: relative;
    z-index: 1;
}

.testimonials-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:  url('../imgs/rect.png') center center;
    width: 100%;
    height: 100%;
}

.testimonials-main {
    padding: 100px
}

.testimonials-container {
    padding-left: 50px;
}

.testimonials-title {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: bold;
}

.testimonials-info {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.testimonials-container img {
    width: 220px;
}

.testimonials-dots {
    text-align: center;
    padding-bottom: 50px;
}

.footer {
    background-color: #333333;
    padding-top: 50px;
}

.footer-container {
    width: 90%;
}

.footer-block {
    width: 25%;
}

.footer-block-title {
    color: #F16822;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-block-container ul {
    color: #CCCCCC;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    list-style-image: url('../imgs/angle-double-right.png');
}

.footer-block-container li {
    padding: 5px;
}

.footer-tag {
    text-transform: uppercase;
    background-color: #444444;
    color: #CCCCCC;
    padding: 5px 10px;
    margin: 5px;
}

.footer-contacts-item span {
    color: #CCCCCC;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 10px;
}

.footer-line {
    width: 90%;
    text-align: center;
}

.footer-line img {
    width: 100%;
}

.footer-bottom {
    width: 90%;
}

.footer-copyright {
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.footer-socials a {
    padding: 5px;
}