.title {
    font-family: 'Modak', cursive;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

#game {
    max-width: 650px;
}

.card {
    flex: 1 0 21%;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: 10px;
    padding: 10px;
    border: none;
}

.card img {
    width: 100px;
    height: 100px;
}
